@import '../../../styles/basevalu';

@font-face {
  font-family: 'PublikBold';
  src: url('.././fonts/ttf/Publik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PublikSemi';
  src: url('.././fonts/ttf/Publik-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Publik';
  src: url('.././fonts/ttf/Publik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PublikRegular';
  src: url('.././fonts/woff2/Publik-Regular.woff2') format('woff2'),
  url('.././fonts/woff/Publik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PublikBlack';
  src: url('.././fonts/woff2/Publik-Black.woff2') format('woff2'),
  url('.././fonts/woff/Publik-Black.woff') format('woff');
}

html
{
  margin:0vw;
  padding:0vw;
  //background-color: rgb(0,0,0)
}
body
{
  margin: 0vw;
  padding:0vw;
}
.figure-container {
    position: relative;
    //background-color: $color-bg-dark;
    background-color: rgba(42,55,64,0.75);
    padding: 1vw;
    width:98vw;
    height:54vw;
    float:left;
    //margin-left: 10vw;
}

svg
{
  width:70vw;
  height:15vw;

}

#viz {
    width: 70vw; // height: 100%;
    height:18vw;
    margin-left: 1vw;
    float:left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.figure-container h1
{
  color: #f7f7f7;
  margin-left: 0.8vw;
  font-size: 6vw;
  margin-bottom: 0.4vw;
  margin-top: 0.2vw;
  font-family: PublikBold;
  //font-weight: 700;
}

.ui-valu-button-container {
    overflow: hidden;
    color: #fff;
    float:left;
    margin-top: 2vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    padding-left: 1.9vw;
    margin-right: 1vw;
    padding-top: 0.10vw;
    background-color: rgba(91,109,122,0.75);
    border-radius: 5px;
    width:94vw;
    height:24vw;
    font-size: 0vw;
    h3 {

      margin-top: 0.5vw;
      margin-bottom: 0.9vw;
      font-size: 3vw;
      font-weight: 400;
    }
    button {
      margin-right:1.7vw;
      margin-bottom: 1vw;
      margin-left:0vw;
      font-family: PublikSemi;
      display: inline-block;
      height: 12vw;
      width: 10vw;
      color: #fff;
      border: 0vw solid rgba(0, 0, 0, 0.1);
      outline: none;
      background-color: darken($color-bg-valu, 30); // @include mix-button();
      position: relative;
      padding:0vw;
        .button-text {
          position: relative;
          z-index: 30;
          color: #f7f7f7;
          font-weight: 300;
          font-size: 6vw;
        }
        .button-bottom {
          z-index: 20;
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          height: 2vw;
          transition: height 0.5s ease-out;
        }
        &.lit {
            .button-bottom {
                height: 100%;
            }
        }
    }
}

.pol-text {
    fill: #333;
}

#selected-container {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    height: 3.5vw;
    line-height: 2vw;
    .selection-item {
        line-height: 3vw;
        height: 3vw;
        font-size: 1vw;
        width: 3vw;
        display: inline-block;
        text-align: center;
        color: #fff;
    }
    .selected-container-parties {
        display: inline-block;
    }
    .selection-item-text {
        display: inline-block; // font-size: 2em;
        color: #fff;
        padding-left: 0.25vw;
        padding-right: 0.25vw;
    }

}
.selected-container-sum {
    font-size: 12vw;
    margin-top: 0vw;
    padding-top: 0.4vw;
    font-family: PublikBlack;
    //display: bĺock;
    //position:absolute;
    //left:60px;
    //top:30px;
    float:left;
    text-align: right;
    color: #fff;
    width:26vw;
    height:9vw;
}
.partyInfo
{
  float:left;
  color:#f7f7f7;
  font-size: 3.2vw;
  width:10vw;
  margin-right:1.7vw;
  text-align: center;
}
.party
{
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.mandat
{
  margin-top: 0vw;
  font-size: 4vw;
}
.ui-noclick {
    pointer-events: none;
}
#logo {
    position: absolute;
    height: 3vw;
    top: 4vw;
    right: 2vw;
}

.button-button {
  .partyInfo {
    position: absolute;
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -ms-transform: translateY(150%);
    -o-transform: translateY(150%);
    transform: translateY(150%);
    -webkit-transition: transform ease-in-out 0.5s;
    -moz-transition: transform ease-in-out 0.5s;
    -ms-transition: transform ease-in-out 0.5s;
    -o-transition: transform ease-in-out 0.5s;
    transition: transform ease-in-out 0.5s;
  }

  &.lit {
    .partyInfo {
      -webkit-transform: translateY(40%);
      -moz-transform: translateY(40%);
      -ms-transform: translateY(40%);
      -o-transform: translateY(40%);
      transform: translateY(40%);
    }
  }
}

#novus {
  position: absolute;
  font-size: 3vw;
  top: 2vw;
  right: 2vw;
  margin: 0;
}
