text {
    font-family: Publik, sans-serif;
    font-weight: bold;
    fill: #fefefd;
    font-size: .8em
}

@media screen and (min-width: 600px) {
    text {
        font-size: 1em;
    }
}

#viz-container {
    max-width: 100%; 
    height:260px;
}