@import '../../../styles/basevalu';

.figure-container {
    position: relative;
    background-color: $color-bg-dark;
    padding: 12px; 
}

#viz {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-valu-button-container {
    margin-bottom: 1em;
    margin-left: 0em;
    button {
        background-color: transparent;
        @include mix-button();
            &.lit {
                background-color: $color-accent-primary;
            }
    }
}

.pol-text {
    fill: #333; 
}