@import '../../../styles/basevalu';

text {
    font-family: Publik, sans-serif;
    font-weight: bold;
    fill: #fefefd;
    font-size: .8em
}

@media screen and (min-width: 600px) {
    text {
        font-size: 1em;
    }
}




.bar-text {
    font-weight: bold;
}



#viz {
    width: 100%;
    height: 100%;
    /*height: 700px;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#optionlist {
    font-family: Publik, sans-serif;
    font-size: 14px;
}


.figure-container {
    position: relative;
    background-color: $color-bg-dark;
    padding-top: 1em;
    padding-left: 25px;
    max-height: 800px;
}

.btn-group-year {
    margin-bottom: 1em;
}

.btn-group-year button {
    @include mix-button();
    &.lit {
        background-color: $color-accent-primary;
    }
    background-color: transparent;
}


.btn-group-group button {

    @include mix-button();
    &.lit {
        background-color: $color-accent-yellow;

        color: darken($color-accent-yellow, 30%);
    }
    background-color: transparent;
}

select {
    @include mix-form();
    background-color: white;
    color: #333;
    option {
        color: #333;
        font-size: inherit;
    }
}