@import '../../../styles/basevalu';

@font-face {
    font-family: 'PublikBold';
    src: url('.././fonts/ttf/Publik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PublikSemi';
    src: url('.././fonts/ttf/Publik-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Publik';
    src: url('.././fonts/ttf/Publik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PublikRegular';
    src: url('.././fonts/woff2/Publik-Regular.woff2') format('woff2'),
    url('.././fonts/woff/Publik-Regular.woff') format('woff');
}

html
{
  
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

text {
    font-family: Publik, sans-serif;
    font-weight: bold;
    fill: $color-accent-white;
    font-size: 4vh;
}

.row-label-text {
    font-size: 4.5vh
}

.not-caspar {
    background-color: #000;
}

#title {
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 0.4vw;
    margin-left: 0.8vw;
    margin-top: 0.2vw;
    color: #f5f5f5;
}

.box {
    cursor: pointer;
}

.percentage-label {
    color: $color-accent-white;
    font-weight: 900;
    font-size: 5.5vh;
}

.link {
    &.v {
        stroke: #911414
    }
    &.s{
        stroke: #e03141;
    }
    &.mp{
        stroke: #82c782;
    }
    &.c{
        stroke: #31a431;
    }
    &.l{
        stroke: #1e69aa;
    }
    &.m{
        stroke: #7cbde0;
    }
    &.kd{
        stroke: #00006d;
    }
    &.sd{
        stroke: #ffc346;
    }
    &.fi{
        stroke: #b2367e;
    }
    &.ovr{
        stroke: #8c8c8c;
    }

}

#viz {
    //opacity: 0;
    //animation: fadeIn 0.8s;
    //animation-delay: 0.8s;
    //animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo {
    position: absolute;
    width: 15vw;
    top: 1.2vw;
    right: 0.8vw;
}


.figure-container {
  position: relative;
}
#content
{
    padding: 1vw;
}
