@import '../../../styles/basevalu';

.figure-container {
    position: relative;
    background-color: $color-bg-dark;
    padding: 12px;
}

#viz {
    width: 100%; // height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.board {
    height: 40vh;
    // background-color:#c0c0c0;
    // color:#fff;
        h3 {
            margin-top:1em;
            margin-bottom:0.5em;
            position: relative;
            display: inline-block;
            em {
            // position: absolute;
                // left:120px;
                // float:right;
                font-size:80%;
                // border:1px solid #666;
                // background-color: #333;
                // color:#fff;
                // padding:2px;
                padding-left:2em;
            }
        }
    .board-row {
        float:left;
        // height: 3.5em;
        width: 32%;
        padding:0;
        margin:0;
        box-sizing: border-box;
        position: relative;
        padding:2%;
    }
    .board-row-container{
        border:1px solid rgba(0,0,0,0.2);
        height: 100%;
        background-color: darken($color-bg-valu,0);
        width: 100%;
        box-sizing: border-box;
    }
    .board-item {
        // word-break: break-all;
        // overflow-wrap: break-word;
        margin:0;
        z-index: 5;
        width:100%;
        // line-height:3.5;
        display: block;
        float:left;
        position:relative;
        box-sizing: border-box;
        border-right:1px solid rgba(0,0,0,0.05);
        border-bottom:1px solid rgba(0,0,0,0.05);
        border-left:1px solid rgba(255,255,255,0.05);
        border-top:1px solid rgba(255,255,255,0.05);
        font-size:1em;
        color:#fff;
        display: table-cell; 
        vertical-align: middle;

        text-align:center;
    }

}

.ui-valu-button-container {
    color: #fff;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0em;
    padding: 0.5em;
    padding-top: 0.10em;
    background-color: lighten($color-bg-dark, 10);
    border-radius: 5px;
    h3 {
        margin: 0.5em;
        margin-left: 0em;
    }
    button {
        margin-left: 0.35em;
        font-family: inherit;
        ;
        display: inline-block;
        height: 2em;
        width: 2em;
        color: #fff;
        font-size: 1.8em;
        border: 0px solid rgba(0, 0, 0, 0.1);
        outline: none;
        background-color: darken($color-bg-valu, 30); // @include mix-button();
        position: relative;
        .button-text {
            position: relative;
            z-index: 30;
            color: $color-bg-valu;
            font-weight: 500;
        }
        .button-bottom {
            z-index: 20;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 0.25em;
            transition: height 0.15s ease-out;
        }
        &.lit {
            .button-bottom {
                height: 100%;
            }
        }
    }
}

.pol-text {
    fill: #333;
}

#selected-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 3.5em;
    line-height: 2em;
    .selection-item {
        line-height: 3em;
        height: 3em;
        font-size: 1em;
        width: 3em;
        display: inline-block;
        text-align: center;
        color: #fff;
    }
    .selected-container-parties {
        display: inline-block;
    }
    .selection-item-text {
        display: inline-block; // font-size: 2em;
        color: #fff;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
    .selected-container-sum {
        font-size: 3em;
        display: bĺock;
        text-align: center;
        color: #fff;
        padding: 0.5em;
    }
}

.ui-noclick {
    pointer-events: none;
}

.svg-klossar {
    border:1px solid #f0f0f0;
}