$color-accent-primary: #ff4b7d;
$color-accent-white: #f5f5f5;
$color-accent-teal: #00dcd2;
$color-accent-yellow: #fff000;
$color-accent-orange: #ff912d;
$color-accent-green: #00c800;
$color-accent-blue: #0091ff;
$color-accent-purple: #be00dc;

$color-bg-dark: #2a3740;
$color-bg-valu: #d2dcdc;



$color-party-v: #911414;
$color-party-s: #e03141;
$color-party-mp: #82c782;
$color-party-c: #31a431;
$color-party-l: #1e69aa;
$color-party-m: #7cbde0;
$color-party-kd: #00006d;
$color-party-sd: #ffc346;
$color-party-fi: #b2367e;
$color-party-ovr: #8c8c8c;

$color-block-vanster: #e03141;
$color-block-mitten: #ffc346;
$color-block-hoger: #2891c7;



@mixin mix-button() {

    font-family: Publik;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 1em;
    font-size: .8125rem;
    border-radius: 4em;
    padding: 0 2em;
    line-height: 2.5;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    color: #fff;
    border-color: #fff;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
    &:active {
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}



@mixin mix-form() {
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border-color: #fff;
    border-radius: 4em;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Publik;
    font-size: .8125rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.5;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    &:active {
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
    &::-moz-focus-inner {
        border: 0;
    }
    margin-bottom:0.5em;
    margin-right:0.25em;
}




@mixin mix-color-bg($color) {
    background-color: $color;
    fill: $color;
}

.color-bg-normal {
    @include mix-color-bg( $color-bg-dark)
}

// color classes
.color-bg-party-v {
    @include mix-color-bg( $color-party-v)
}

.color-bg-party-s {
    @include mix-color-bg( $color-party-s)
}

.color-bg-party-mp {
    @include mix-color-bg( $color-party-mp)
}

.color-bg-party-c {
    @include mix-color-bg( $color-party-c)
}

.color-bg-party-l {
    @include mix-color-bg( $color-party-l)
}

.color-bg-party-m {
    @include mix-color-bg( $color-party-m)
}

.color-bg-party-kd {
    @include mix-color-bg( $color-party-kd)
}

.color-bg-party-sd {
    @include mix-color-bg( $color-party-sd)
}

.color-bg-party-fi {
    @include mix-color-bg( $color-party-fi)
}

.color-bg-party-ovr {
    @include mix-color-bg( $color-party-ovr)
}

.color-bg-left {
    @include mix-color-bg( $color-block-vanster)
}

.color-bg-middle {
    @include mix-color-bg( $color-bg-valu)
}

.color-bg-right {
    @include mix-color-bg( $color-block-hoger)
}