
@import '../../../styles/basevalu';

text {
    font-family: Publik,sans-serif;
    font-weight: bold;
    fill: #fefefd;
    font-size: .8em
}

@media screen and (min-width: 600px) {
    text {
        font-size: 1em;
    }
}


.bar-text {
    font-weight: bold;
}



#viz {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.axis path {
    shape-rendering: crispEdges;
    stroke: #fefefe;
    stroke-opacity: 0.2;
}

.tick line {
    shape-rendering: crispEdges;
    stroke: #fefefe;
    stroke-opacity: 0.2;
}

.tick text {
    font-size: 1.2em;
}

.label-text {
    font-size: 1em;
}



.party-line {
    stroke-width: 3px;
}

.party-line-alla {
    stroke: $color-accent-primary;
}

.party-marker-alla {
    fill: $color-accent-primary;
}

.party-line-v {
    stroke: $color-party-v;
}

.party-marker-v {
    fill: $color-party-v;
}

.party-line-s {
    stroke: $color-party-s;
}

.party-marker-s {
    fill: $color-party-s;
}

.party-line-mp {
    stroke: $color-party-mp;
}

.party-marker-mp {
    fill: $color-party-mp;
}

.party-line-c {
    stroke: $color-party-c;
}

.party-marker-c {
    fill: $color-party-c;
}

.party-line-l {
    stroke: $color-party-l;
}

.party-marker-l {
    fill: $color-party-l;
}

.party-line-m {
    stroke: $color-party-m;
}

.party-marker-m {
    fill: $color-party-m;
}

.party-line-kd {
    stroke: $color-party-kd;
}

.party-marker-kd {
    fill: $color-party-kd;
}

.party-line-sd {
    stroke: $color-party-sd;
}

.party-marker-sd {
    fill: $color-party-sd;
}


.color-bg-party-alla {
    @include mix-color-bg( $color-accent-primary)
}


.ui-valu-button-container {
    color: #fff;
    margin: 1em;
    padding: 0.5em;
    padding-top: 0.10em;
    padding-bottom: 1em;
    background-color: lighten($color-bg-dark, 10);
    border-radius: 5px;
    h3 {
        margin: 0.5em;
    }


    button {
        //margin-left: 0.35em;
        margin:.1em;
        padding: 0px;
        font-family: inherit;
        display: inline-block;
        height: 2em;
        width: 2em;
        color: #fff;
        font-size: 1.5em;
        border: 0px solid rgba(0, 0, 0, 0.1);
        outline: none;
        background-color: darken($color-bg-valu, 30); // @include mix-button();
        position: relative;
        .button-text {
            position: relative;
            z-index: 30;
            color: $color-bg-valu;
            font-weight: 500;
        }
        .button-bottom {
            z-index: 20;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 0.25em;
            transition: height 0.15s ease-out;
        }
        &.lit {
            .button-bottom {
                height: 100%;
            }
        }
    }
}

.ui-noclick {
    pointer-events: none;
}



.figure-container {
    position:relative;
    background-color: $color-bg-dark;
    padding: 12px;

    //max-height:800px;

}

.btn-group-party {
    margin-bottom:1em;
    margin-left:2.5em;
}

.btn-group-party button {
    @include mix-button();
    &.dark {
        background-color: $color-bg-dark;

    }
}

